<!doctype html>
<html>
<head>
  <link rel="icon" type="image/x-icon" href="<%= context.config.publicPath %>favicon.png" />
  <link href="http://fonts.cdnfonts.com/css/sf-pro-display" rel="stylesheet">

  <meta charset="utf-8" />
  <title>Your App</title>
</head>
<body>
  <div id="root"></div>
</body>
</html>
